@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 110px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.header__menu {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 46px;

}

.header__menu-item {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.header__menu-item:hover {
  color: #817070;
}

/* Home section */

.home {
  position: relative;
  width: 1440px;
  height: 622px;
  background-image: url(https://source.unsplash.com/vSuQJKZkt4U/1920x1080);
  background-repeat: no-repeat;
  background-size: cover;
}

.home__title {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home__line {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(calc(1440px / 2));
  margin-top: 362px;
  width: 80px;
  height: 10px;
  background-color: #817070;
}

/* Story section */

.story {
  margin-top: 60px;
}

.story__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.story__container {
  display: flex;
  column-gap: 40px;
  margin-bottom: 60px;
}

.story__img {
  width: 600px;
  height: 400px;
  margin-left: 80px;
}

.story__text {
  display: flex;
  align-items: center;
  margin-right: 123px;
  font-weight: 300;
  font-size: 20px;
}

/* Blog section */

.blog {
  background-color: #EFEFEF;
}

.blog__title {
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.blog__container {
  display: flex;
  justify-content: center;
  column-gap: 70px;
}

.blog__card {
  margin-bottom: 65px;
  width: 365px;
  background-color: #fff;
}

.blog__card-title {
  margin: 20px 0 20px 20px;
  font-weight: 400;
  font-size: 24px;
}

.blog__card-img {
  display: block;
  margin: 0 auto;
  width: 325px;
  height: 216px;
}

.blog__card-text {
  margin: 24px 20px 46px;
  font-weight: 300;
  font-size: 18px;
}

/* Centact section */

.contact {
  height: 337px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 28px;
  background-color: #817070;
}

.contact__title {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.contact__email {
  width: 300px;
  height: 55px;
  color: #fff;
  background: #817070;
  border: 3px solid #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.contact__email::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.contact__button {
  align-self: center;
  width: 130px;
  height: 55px;
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #817070;
}

.contact__button:hover {
  cursor: pointer;
}

/* Footer */

.footer {
  height: 72px;
}

.footer__text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}
